<%- include('header') %> 
<h1 style="color: blueviolet;">About this web App</h1><br><br>
This is a to-do list app in which we can make a list of work, we will going to do, to remind ourself so that we don't forgot the important work.After completing the work we can checkbox that to make sure that this work is done. 
<br><br><br><br>
Created by <a href="mailto:harshulsharma7@gmail.com">Harshul Sharma.</a>
<%- include('footer') %> 